<div class="mat-elevation-z8">
<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="model">
    <mat-header-cell *matHeaderCellDef> Model </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.model}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="profitability">
    <mat-header-cell  *matHeaderCellDef mat-sort-header> Profitability <small>&nbsp; ($/day)</small></mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{element.profitability}} </mat-cell>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="hashRate">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Hashrate <small> &nbsp; (Th/s)</small></mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{element.hashRate | number: '1.0-5'}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="algo">
    <mat-header-cell  *matHeaderCellDef > Algorithm </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{element.algo}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="power">
    <mat-header-cell  *matHeaderCellDef mat-sort-header> Power <small>&nbsp;(W)</small> </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{element.power}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="release">
    <mat-header-cell *matHeaderCellDef mat-sort-header > Release </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{element.release | date }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="efficiency">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Efficiency <br/><small>&nbsp;(j/GH)</small> </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element"> {{element.efficiency | number: '1.0-5'}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
  <mat-paginator
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator>
</div>
