<!--<button mat-raised-button color="warn" (click)="reset()">Reset dataset</button>-->
<!--<app-algo-legend [algos]="algos" [asic]="asic" (filteredAlgos)="filterByAlgo($event)"></app-algo-legend> -->

<div flex fxLayoutGap="20px" fxLayout="row" fxLayout.lt-sm="column" fxFlexFill >
  <div fxLayout="column" fxLayoutGap="20px" fxLayoutGap="20px">
    <div fxLayout="row" fxLayout.lt-sm="column">
      <app-ranking [color]="colorAlgo"
                   [asic]="asic"
                   [algo]="algos"
                   (filteredAlgos)="filterByAlgo($event)"
      ></app-ranking>
      <app-scatter fxFlex
                   [color]="colorAlgo"
                   [asic]="asic"
                   [selectedAsic]="selectedAsic"
                   (filteredAsicEvent)="updateAsic($event)"></app-scatter>
    </div>
    <app-asic-table [data]="asic"></app-asic-table>
  </div>
  <div fxLayout="column" fxLayoutGap="20px">
      <app-pca       [color]="colorAlgo" [asic]="asic"></app-pca>
    <app-parallel
                  [color]="colorAlgo"
                  [asic]="asic"
                  (selectedParallel)="selectAsic($event)"
    ></app-parallel>
  </div>
</div>
