<!--<button mat-raised-button color="warn" (click)="reset()">Reset dataset</button>-->
<!--<app-algo-legend [algos]="algos" [asic]="asic" (filteredAlgos)="filterByAlgo($event)"></app-algo-legend> -->

<div fxLayout="column" fxLayout.lt-sm="column" fxLayoutAlign="stretch">
  <app-ranking
    [color]="colorAlgo"
               [asic]="asic"
               [algo]="algos"
               (filteredAlgos)="filterByAlgo($event)"
               class="mat-elevation-z8"
  ></app-ranking>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center">
      <app-scatter fxFlex="50"
                   [color]="colorAlgo"
                   [asic]="asic"
                   [selectedAsic]="selectedAsic"
                   (filteredAsicEvent)="updateAsic($event)"></app-scatter>
      <app-parallel fxFlex="50"
        [color]="colorAlgo"
        [asic]="asic"
        (selectedParallel)="selectAsic($event)"
      ></app-parallel>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
      <app-pca
        fxFlex="50"
        [color]="colorAlgo"
        (filteredAsicEvent)="updateAsic($event)"
        [asic]="asic"></app-pca>
    <app-asic-table fxFlex="50"
                    style="height: 100%"
                    [data]="asic">
    </app-asic-table>

  </div>
</div>
