 <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <!--
        <mat-card-title>
          ASIC Hashrate
          <button mat-raised-button
                  matTooltip="ASICs allow miners to use hardware made specifically for Bitcoin or other SHA-256 algo coins.
      An ASIC has benefits over CPU, GPU and FPGAs due to being designed for one specific task.
      They are able to mine Bitcoin at a higher hash rate (speed of processing transactions) than CPUs, GPUs and FPGAs."
                  aria-label="Button that displays a tooltip when focused or hovered over">
            <mat-icon>info</mat-icon>
          </button>
        </mat-card-title>
        <mat-card-subtitle>
          <p>Mean efficiency: {{meanEfficiency | number : '1.2-2'}} <small> j/Gh</small></p>
        </mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row" fxFlexFill>
          <figure id="scatter"></figure>
        </div>
      </mat-card-content>
 </mat-card>
    <!--<mat-progress-bar mode="determinate" [value]="meanEfficiency"></mat-progress-bar>-->


