<div fxLayout="row">
    <app-hr-series [allHashRate]="allHashRate"
                   [originalSeries]="originalSeries"
                   [color]="color"
                   [cryptos]="cryptos"

    >
    </app-hr-series>
  <div fxLayout="column" fxLayoutAlign="start">
    <!--<app-country-consumption [country]="consumption"
                             [allHashRate]="allHashRate"
                             [color]="color"
                             [cryptos]="cryptos"
    ></app-country-consumption>-->
    <app-bar-race></app-bar-race>
  </div>
</div>
