body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: auto;
    /* position: relative; */
}

form {
    right: 10px;
    top: 10px;
}

.group-label {
    font-weight: bold;
    text-anchor: end;
}

/* My stuff */
.wrapper {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    background-color: white;
}

.legend-box {
    min-width: 400px;
    flex-grow: 1;
    background-color: orange;
}


.chart-box {
    min-width: 200px;
    flex-grow: 1;
    /* background-color: #b6ee62; */
} 

.one {
    background-color: whitesmoke;  
}

.two {
    background-color: aqua;
}

.three {
    background-color: greenyellow;
}


/* ###############################################
    Time series stuff (may use another .css file) 
*/
.axis--x path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}
  